# Generic ignores
*.log
*.log.*
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__

# Directory (contents) ignores
.cloud
.ssh
.storage
deps

# Specific file ignores
core
image
ip_bans.yaml
secrets.yaml

# Build-in blueprints ignores
blueprints/*/homeassistant

# Ignore files created by IDE's
.vscode

# Ignore vendored stuff
custom_components
themes
www/community

# Specific keeps
!.gitkeep